#top-bar{
			width: 1000px;
			margin:0 auto;
			height: 40px;
		}
		body{
			margin:0;
			padding: 0;
			font-family: Helvetica, Ariel, sans-serif;
		}
		#logo{
			margin-top: 10px;
			width: 100px;
			float: left;
			margin-right: 8px;
		}
		.topbar-section{
			float: left;
			border-left: 1px #cccccc solid;
			height: 100%;
		}
		#singin-logo{
			margin-top: 10px;
			float: left;
			margin-top: 12px;
			margin-left: 13px;
			margin-right: 5px;
			width: 28px;
			float: left;

		}
		#signin-text{
			font-weight: bold;
			font-size: 80%;
			position: relative;
			top: 14px;
			padding-right: 65px;
			padding-left: -2px;
		}
		#text-style{
			font-weight: bold;
			font-size: 80%;
			position: relative;
			top: 14px;
			padding-right: 10px;
			margin-left: 5px;
		}
		.topbar-menu{
			padding-left: 8px;
		}

		#more-text{
			font-weight: bold;
			font-size: 80%;
			position: relative;
			top: 14px;
			padding-right: 25px;
			padding-left: -2px;
		}
		#dropdown-img{
			float: right;
			margin-top: 12px;
			width:30px;
		}
		#search-box{
			background-color: #E4E4E4;
			border: none;
			font-size: 14px;
			font-weight: bold;
			padding: 5px;
			position: relative;
			top: 10px;
			float: left;
		}
		#magnify-img{
			margin-top: 10px;
			height:26px;
		}
		.clear{
			clear: both;
		}

		#menubar-container{
			border-top:1px solid #cccccc;
			background-color: #BB1919;
			width: 100%;
			height: 80px;
		}
		#menubar{
			width: 1000px;
			margin:0 auto;
			height: 40px;
		}
		h1{
			padding: 0;
			margin:0;
			color: white;
			font-size: 60px;
			font-weight: normal;
			padding-top: 10px;
		}
		#menubar2-container{
			background-color: #A91717;
			width: 100%;
		}
		#menubar2{
			width:1000px;
			margin: 0 auto;
			height: 40px;
		}
		#menubar2 a{
			color: white;
			text-decoration: none;
			font-size: 14px;
			position: relative;
			top:10px;
			padding: 0 10px;
			border-right: 1px solid #BB4545; 
		}
		#menubar2 a:hover{
			text-decoration: underline;
		}
		.no-border{
			border:none !important;
		}
		#downarrow-img{
			height: 10px;
			position: relative;
			top: 10px;
		}

		#page-container{
			width: 1000px;
			margin: 0 auto;
		}
		h2{
			font-size: 25px;
			padding: 0;
			margin:0;
			margin-top: 8px;
			font-weight: normal;
			border-bottom: 2px solid #a91717;
			width:125px;
		}
		h3 a{
			color: black;
			font-size: 30px;
			text-decoration: none;
			font-weight: bold;
		}
		h3 a:hover{
			color: #1167a8;
		}
		#article-summary{
			color: #5a5a5a;
			width: 280px;
			float: left;
		}
		.clock{
			height:20px;
			position: relative;
			top:4px;
		}
		#article-summary a{
			text-decoration: none;
			color: #a91717;
			border-left: 1px solid #cccccc;
			padding-left: 10px;
		}
		#article-summary a:hover{
			color: #1167a8;
		}
		.date{
			padding-right: 10px;
		}
		.technology{
			border-right: 1px solid #cccccc;
			padding-right: 10px;
		}

		#comment-img{
			height:17px;
			position: relative;
			top:2px;
			left:10px;
		}
		#comment a{
			text-decoration: none;
			color:black;
			border-left: none;
		}
		#comment a:hover{
			color: black;
		}
		#article-container{
			float: left;
			width: 650px;
			border-right: 1px solid #cccccc;
		}
		#main-article-img{
			width: 350px;
			margin-left: 10px;
		}
		#article-hr{
			border-color: #a91717;
			width:50px;

		}
		#new-style a{
			text-decoration: none;
			color: black;
			border-left: none;
			padding: 0;
		}
		#new-style a:hover{
			color: #1167a8;
		}
		#watch-listen{
			position: relative;
			left: 20px;
			width:340px;
			float: right;

		}
		h4{
			font-weight: normal;
			font-size: 20px;
		}
		.article-side-image{
			float: left;
			padding-right: 8px;
			padding-bottom: 15px;
		}
		.watch-listen-link{
			text-decoration: none;
			color: black;
			font-weight: bold;
			font-size: 18px;
		}